@import "tailwindcss";
@theme inline {
	--color-background: #392c3e;
	--color-background-2: #4c3a55;
	--color-primary: #e3b7f4;
}

body {
	@apply bg-background text-primary;
}

h1 {
	@apply text-2xl my-2;
}

h2 {
	@apply text-3xl my-2;
}

h3 {
	@apply text-4xl my-2;
}

@keyframes pulse {
	50% {
		opacity: 0.9;
	}
}

@keyframes inputHide {
	0% {
		width: 100%;
		opacity: 1;
		display: flex;
	}
	100% {
		width: 0%;
		opacity: 0;
		padding: 0;
		display: none;
	}
}
.inputHide {
	animation: inputHide 500ms forwards;
}

@keyframes buttonChangeLarge {
	0% {
		width: 3.5rem;
	}
	100% {
		width: 100%;
	}
}
.buttonChangeLarge {
	animation: buttonChangeLarge 500ms;
}

.pulse {
	animation: pulse 3000ms infinite alternate;
}
